/*
 Bitforge Software Labs
 (c)2017 
 http://bitforge.co.ke
 <muhindi@bitforge.co.ke><muhindi09@gmail.com>
*/
/* 
    Created on : Jul 13, 2017, 5:36:34 PM
    Author     : kelly
*/
h1,h2,h3,h4{
    font-weight: bold;
}

#main-advert{
    width: 80%;
    height: 100px;
    float: right;
}

/*selects elemmnts of type img inside div id main-advert*/
 #main-advert img {
    width: 100%;
    height:350px;
}

#content-area{
    width: 90%;
    margin: auto;
    margin-top:20px;
}

a.product-container{
    width:250px;
    height:250px;
    border:1px solid wheat;
    display: block;
    float: right;
}

table{
    float:right;
}