/*
 Bitforge Software Labs
 (c)2017 
 http://bitforge.co.ke
 <muhindi@bitforge.co.ke><muhindi09@gmail.com>
*/
/* 
    Created on : Jul 13, 2017, 5:36:34 PM
    Author     : kelly
*/

#main-advert{
    width: 50%;
    height: 200px;
}
